#page-auth{
  display: flex;
  align-items: stretch;
  height: 100vh;
  flex-wrap: wrap-reverse;


  aside{
    flex: 7;
    background-color: var(--primary-color);
    color: var(--text-light);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 8rem 6rem;

    img{
      max-width: 18rem;
    }

    strong{
      font: 700 2.25rem 'Poppins', sans-serif;
      line-height: 2.5rem;
      margin-top:  1rem;
    }

    p{
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1rem;
      color: var(--body-background-color);
    }
  }
  main{
    flex: 8;
    min-width: 18.75rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    align-items: stretch;
    text-align: center;
    color: var(--text-dark);

    p{color: var(--text-light)!important;}

    > img {
      align-self: center;
    }

    h2{
      font-size: 1.5rem;
      margin: 4rem 0 1.5rem;
    }

    form{
      input{
        height: 3.125rem;
        border-radius: .5rem;
        padding: 0 1rem;
        background: var(--question-background-color);
        border: 1px solid var(--line-color);

        &::placeholder{
          color: var(--text-medium);
        }
      }

      button{
        margin-top: 1rem;
      }

      button, input {
        width: 100%;
      }
    }

    p{
      font-size: .875rem;
      color: var(--text-medium);
      margin-top: 1rem;

      a{
        color:var(--login-link);
      }
    }
  }

  .has-answers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    input[type="checkbox"]{
      width: 1.2rem;
    }
  }

  .create-room{
    margin-top: 4rem;
    height: 3.125rem;
    border-radius: .5rem;
    font-weight: 500;
    background-color: var(--google-button);
    color: var(--text-light);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;
    transition: filter .4s;

    img{
      margin-right: .5rem;
    }

    &:hover{
      filter: brightness(.9);
    }
  }

  .separator{
    font-size: .875rem;
    color: var(--line-color);

    margin: 2rem 0;
    display: flex;
    align-items:center;

    &::before{
      content: '';
      flex: 1;
      height: 1px;
      background: var(--line-color);
      margin-right: 1rem;
    }
    &::after{
      content: '';
      flex: 1;
      height: 1px;
      background: var(--line-color);
      margin-left: 1rem;
    }
  }
}

@media (max-width:1080px){
  #page-auth{
    height: 100%;
    main{
      height: 100vh;
    }
  }
}
