*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus{
    outline: none;
  }
}

body{
  background: var(--body-background-color);
  color: #29292e;
}

// :root{
//   --primary-color: #835afd;
//   --body-background-color: #f8f8f8;
//   --answered-background-color: #dbdcdd;
//   --question-background-color: #fefefe;
//   --highlight-background-color: #f4f0ff;

//   --border-color:#e2e2e2;

//   --text-dark: #29292e;
//   --text-medium: #737380;
//   --text-light: #fff;

//   --google-button: #ea4335;
//   --line-color: #a8a8b3;

//   --login-link: #e559f9;
// }

@media (prefers-color-scheme: dark) {
  :root{
    --primary-color: #00A871;
    --body-background-color: linear-gradient(to right, #232526, #414345);;
    --answered-background-color: #dbdcdd27;
    --question-background-color: #454655;
    --highlight-background-color: #A7A8CD;

    --border-color:#454655;

    --text-dark: #fff;
    --text-medium: #544343;
    --text-light: #DADAF4;

    --code-card: #454655;

    --question-textarea: #14152296;

    --google-button: #ea4335;
    --line-color: #a8a8b3;

    --login-link: #e559f9;
  }

  #page-auth, #page-room {
    aside{
      filter: brightness(.95);
    }
    main .main-content > img, header .content > img{
      filter: invert(1);
    }
  }
}

@media (prefers-color-scheme: light) {
  :root{
    --primary-color: #835afd;
    --body-background-color: #f8f8f8;
    --answered-background-color: #dbdcdd88;
    --question-background-color: #fefefe;
    --highlight-background-color: #f4f0ff;

    --border-color:#e2e2e2;

    --text-dark: #29292e;
    --text-medium: #737380;
    --text-light: #fff;

    --code-card: #fff;

    --google-button: #ea4335;
    --line-color: #a8a8b3;

    --login-link: #e559f9;
  }
}

body, input, button, textarea{
  font: 400 1rem 'Roboto', sans-serif;
}

@media (max-width: 1080px) {
  html{
    font-size: 93.75%;
  }
}

@media (max-width: 1880px) {
  html{
    font-size: 87.5%;
  }
}
