.room-code{
  height: 2.5rem;
  border-radius: .5rem;
  overflow: hidden;

  background: var(--code-card);
  border: 1px solid var(--primary-color);
  cursor: pointer;

  display: flex;
  color: var(--text-dark);

  div{
    background: var(--primary-color);
    padding: 0 .75rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span{
    display: block;
    align-self: center;
    flex: 1;
    padding:0 1rem 0 .75rem;
    width: 11rem;
    font-size: .875rem;
    font-weight: 500;
  }
}
